.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  body
  {
    margin: auto;
    padding: 0px;
  }

   .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    margin-top: 18px;
}
  
  .example-full-width {
    width: 100%;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    margin-top: 30px;
}
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    margin-top: 20px;
}
  .example-card {
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-52%, 18%);
    box-shadow:1px 5px 16px -9px;
  }
  .mat-form-field-label-wrapper {
    top: -0.84375em;
    padding-top: .84375em;
}
  .mat-raised-button.mat-accent {
    background-color: #ff5840;
    
  }
  // .mat-card-actions .mat-raised-button:first-child {
  //   margin-top: 22px;
  //   height: 53px;
  //   margin-left: 3px;
  //   width: 318px;
  // }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    width: 322px;
    margin-left: 20px;

      position: relative;
      margin-top: 30px;
    
  }
  
 
  
 
    #admin
  {
    font-size: 69px;
    text-align: cenetr;
    // margin-left: 140px;
    opacity: 0.7;
    color: #ff5840;
    margin-bottom: 89px;
  
  }
  @media (max-width:480px)  
  {
    
    #admin
  {
    font-size: 69px;
    text-align: cenetr;
    // margin-left: 140px;
    opacity: 0.7;
    color: #ff5840;
    margin-bottom: 89px;
  
  }
  }
  #d1
  {
    text-align:center;
    color: #ff5840;font-weight: bold;
  }
  
  #c
  {
    margin-left: 150px;
  }
  
  p{
       font-size: 13px;
      // margin-top: 12px;
      text-align: center;
  }
  .mat-form-field-infix
  {
     margin-top: -48px;
     margin-top: 18px
  }
  #p1{
    font-size: 17px;
    text-align: center;
    
    color: red;
  }
  .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    font-size: 22px;
    line-height: 1.125;
    margin-right: 20px;
   
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    color:rgb(181, 181, 181);
}
.d1
{
  padding:10px;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  display: block;
  margin-bottom: 16px;
  padding: 10px 31px;
}