<form name="form" #ngForm="ngForm" >
<mat-card class="example-card">
	
		<mat-card-content>
			<div class="row">
					<div class="col"></div>
					<div class="col">
							<mat-icon id="admin">account_circle</mat-icon>
							 
								 </div>
							<div class="col"></div>
				
			</div>
			
							<mat-form-field class="example-full-width">
 				<input matInput placeholder="Email Address" name="email" id="email" name="email" type="text" [formControl]="email" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> 
					<mat-icon matPrefix>email</mat-icon>
					
				   
				   </mat-form-field>
			
         <div>
			 <div id="d1">OR</div>
		<mat-form-field hintlabel="max 10 character">
				<input matInput #input type="text" [formControl]="phone" placeholder="Phone Number" maxLength="10" minLength="10" required  >
				
				<mat-icon matPrefix>phone</mat-icon>
		        <!-- <span ng-if="form.emailphone.$error.pattern">Enter correct email or phone number!</span>  -->

				
				 <mat-error *ngIf="phone.invalid">{{getError()}}</mat-error>
				
				   </mat-form-field>
			
			
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Password" [type]="hide ?'password':'text'" [formControl]="passFormControl" required >
				<mat-icon matPrefix>lock</mat-icon>
				<button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide? 'visibility_off':'visibility'}}</mat-icon>

				</button> 
				<mat-error *ngIf="passFormControl.invalid">{{getpass()}}</mat-error> 
				 <!-- <mat-error *ngIf="passFormControl.hasError('minlength')">must enter 8 character</mat-error>-->
				   
				   <mat-error *ngIf="passFormControl.hasError('maxlength')">must enter 8 character</mat-error> 
                   </mat-form-field>
			
				
			</div>
			 </mat-card-content>
			
		        <mat-card-actions>
			<button mat-raised-button color="accent" type="submit" [type]="loading?'loading?':'text'" (click)="onSubmit()">Login</button>
			
		</mat-card-actions>

	 
	
	<p>No account? <a [routerLink]="['/signup']" >Create account</a></p>
	

	</mat-card>
</form>