<div class="row">
  <div *ngFor="let food of foods" class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <img src="../../assets/img/diet.png" width="64px" height="64px">
              </div>
              <p class="card-category">{{food.name}}</p>
              <h3 class="card-title">49
                  <small>Plate</small>
              </h3>
          </div>
          <div class="card-footer"> 
              <div class="stats">
                  <i class="material-icons text-success">check</i>
                  <a href="javascript:void(0)">Show Details</a>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                  <i class="material-icons">restaurant</i>
              </div>
              <p class="card-category">Veg Biryani</p>
              <h3 class="card-title"><i class="fa fa-inr" aria-hidden="true"></i>
                50</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">date_range</i> Last 24 Hours
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                  <i class="material-icons">restaurant</i>
              </div>
              <p class="card-category">Egg biryani</p>
              <h3 class="card-title"><i class="fa fa-inr" aria-hidden="true"></i>
                75</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">local_offer</i> Tracked from Github
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">restaurant</i>
              </div>
              <p class="card-category">Chicken Biryani</p>
              <h3 class="card-title"><i class="fa fa-inr" aria-hidden="true"></i>
                75</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">update</i> Just Updated
              </div>
          </div>
      </div>
  </div> -->
</div>