<nav class="navbar navbar-light bg-dark justify-content-between h-2">
    <a class="navbar-brand text-light  p-2">Biryani BOX</a>
    <button class="btn btn-outline-light my-2 my-sm-0">Log Out</button>
</nav>
<div class="row">
    <div class="col-3 bg-light"></div>
    <div class="col-8" style="margin-left: 20px">
        <form class="form-inline my-2 w-100">
            <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search">
        </form>
    </div>
</div>

<div class="row h-100">
    <div class="col-3 h-100 bg-light">

        <div class="card shadow" style="margin-top: 20px">
            <div class="card-header bg-danger text-light">
                Dashboard
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Orders</li>
                <li class="list-group-item">Customer</li>
                <li class="list-group-item">Product</li>
            </ul>
        </div>

        <div class="card shadow  mt-3 bg-light" style="max-width: 100%; min-height: 15rem;">

        </div>
    </div>

    <div class="col-9 h-100 pl-5 main">
        <div class="row" style="margin:20px 20px 20px 0px">
            <!-- <div class="card w-100">
                <div class="card-header bg-danger text-light">
                    Biryani Iteams
                </div>
            </div> -->
            <div class="row  w-100 " style="margin: 20px">
                <div class="col">
                    <div class="card shadow mb-3 bg-light" style="max-width: 15rem; min-height: 15rem;">
                        <div class="card-header bg-danger text-light">
                            Veg Biryani
                        </div>
                        <div class="jubotron m-3">
                            <p class="text-center">Todays Prize</p>
                           <h1 class="mx-auto text-center">
                                
                                 <mat-icon>mood</mat-icon>
                            </h1>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary float-right mr-3">Edit</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow  mb-3 bg-light" style="max-width: 15rem; min-height: 15rem;">
                        <div class="card-header bg-danger text-light">
                            Egg Biryani
                        </div>
                        <div class="jubotron m-3">
                            <p class="text-center">Todays Prize</p>
                            <h1 class="mx-auto text-center">$2.0 /-</h1>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary float-right mr-3">Edit</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow  mb-3 bg-light" style="max-width: 15rem; min-height: 15rem;">
                        <div class="card-header bg-danger text-light">
                            Chicken Biryani
                        </div>
                        <div class="jubotron m-3">
                            <p class="text-center">Todays Prize</p>
                            <h1 class="mx-auto text-center">$3.0 /-</h1>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary float-right mr-3">Edit</button>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>