<!-- dash board content -->

<div class="main-content">
  <div class="container-fluid">

    <!-- food items and rate -->
    <div class="row">
      <div *ngFor="let food of foods" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats food-item-card">
          <div [class]=food.class>
            <div class="card-icon">
              <img [src]=food.Icon width="64px" height="64px">
            </div>
            <p class="card-category">{{food.name}}</p>
            <h4 class="card-title"><i class="fa fa-inr fa-lg" aria-hidden="true"></i>
              {{food.rate}}</h4>
          </div>
          <div *ngIf="food.discription" class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons text-success">check</i> -->
              <span>{{food.discription}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- offer and Addons UI -->
    <div class="row">

      <!-- offers data -->
      <div class="col-lg-6 col-md-12">
        <div class="card" style="min-height:450px">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="card-title display-4 font-weight-bold">Offers</span>
                <button mat-raised-button type="button"
                  class=" float-right pr-2 btn btn-white btn-link btn-lg btn-just-icon">
                  <i *ngIf="!isAddOffer" matTooltip="new" [matTooltipPosition]="'above'"
                    (click)="isAddOffer=!isAddOffer" class="material-icons">add_circle_outline</i>
                  <i *ngIf="isAddOffer" matTooltip="cancel" [matTooltipPosition]="'above'"
                    (click)="isAddOffer=!isAddOffer" class="material-icons">clear</i>
                </button>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item" (click)="selectedOfferType('festival offer')">
                    <a mat-button class="nav-link active" href="#offerTable" data-toggle="tab">
                      <i class="material-icons">looks_one</i>Festival
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item" (click)="selectedOfferType('Daily offer')">
                    <a mat-button class="nav-link" href="#offerTable" data-toggle="tab">
                      <i class="material-icons">looks_two</i> Daily
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item" (click)="selectedOfferType('B-BOX offer')">
                    <a mat-button class="nav-link" href="#offerTable" data-toggle="tab">
                      <i class="material-icons">looks_3</i> B-BOX
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="isAddOffer" class="row">
              <div class="col-md-1">

              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Offer" [formControl]="aboutOffer" ngModel name="Offer" required
                    type="text">
                  <mat-error>

                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Discount" [formControl]="Discount" ngModel name="Discount" required
                    type="text">
                  <mat-error>

                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="isAddOffer" class="row">
              <div class="col-md-1">

              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Upto" [formControl]="Upto" ngModel name="Upto" required type="text">
                  <mat-error>

                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Orders" [formControl]="Orders" ngModel name="orders" required
                    type="text">
                  <mat-error>

                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <button class="btn btn-primary">Save</button>
              </div>
            </div>

            <!-- Addons data table -->
            <div class="col-lg-6 col-md-12">

                    <div class="card" style="min-height:450px">
                        <div class="card-header card-header-warning">
                            <span class="card-title display-4 font-weight-bold">Addons</span>
                            <button mat-raised-button type="button"
                                class=" float-right pr-2 btn btn-white btn-link btn-lg btn-just-icon">
                                <i *ngIf="!isAdd" matTooltip="new" [matTooltipPosition]="'above'" (click)="setAddnewflag()"
                                    class="material-icons">add_circle_outline</i>
                                <i *ngIf="isAdd" matTooltip="cancel" [matTooltipPosition]="'above'"
                                    (click)="setAddnewflag()" class="material-icons">clear</i>
                            </button>
                            <span class="d-block card-category" style="padding-bottom: 20px">Best choice for customer order</span>
                        </div>
    
                        <div class="card-body table-responsive">
                            <div *ngIf="isAdd" class="row">
                                <div class="col-md-1">
    
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput placeholder="Addon Name" [formControl]="addonName"
                                            [(ngModel)]="name" (change)="onNameChange()" ngModel name="addonName" required
                                            type="text">
                                        <mat-error>
    
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field >
                                        <input matInput placeholder="Addon price" [formControl]="addonPrice"
                                            [(ngModel)]="price" (change)="onPriceChange()" ngModel name="addonPrice"
                                            required type="text">
                                        <mat-error>
    
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <button mat-raised-button class="btn btn-warning" *ngIf="addonName.value!=null&& addonPrice.value!=null && addonName.value!='' &&  addonPrice.value!=''" 
                                    (click)="addNewAddon()">Save</button>
                                </div>
                            </div>
    
                            <table class="table table-hover ">
                                <thead class="text-warning">
                                    <th  class="text-center">#</th>
                                    <th  class="text-center" colspan="2">Addon</th>
                                    <th  class="text-center">price</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let addons of data.payload;index as i">
                                        <td  class="text-center">{{i+1}}</td>
                                        <td  class="text-center" colspan="2">{{addons.name}}</td>
                                        <td  class="text-center">{{addons.price}}</td>
                                        <td class="td-actions">
                                            <button mat-raised-button type="button" matTooltip="Edit"
                                                [matTooltipPosition]="'above'" [ngClass]="{disabled : isAdd }"
                                                class="pr-2 btn btn-warning btn-link btn-sm btn-just-icon">
                                                <i class="material-icons" (click)="setEditvalue(addons)">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'" (click)="removeAddon(addons)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            <div class="tab-content">
              <div class="tab-pane active" id="offerTable">
                <table class="table">
                  <thead class="text-primary">
                    <th class="text-center">#</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Upto</th>
                    <th class="text-center">Applice</th>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let Offer of offer;index as i">
                      <ng-container *ngIf="Offer.type == offerActive">
                        <tr *ngFor="let offerList of Offer.offer;index as offerIndex">
                          <td class="text-center">
                            {{offerIndex+1}}
                          </td>
                          <td class="text-center">{{offerList.discount+"%"}}</td>
                          <td class="text-center">{{"Rs."+offerList.upto}}</td>
                          <td class="text-center">{{"For "+offerList.orders+" Order"}}</td>
                          <td class="td-actions text-right">
                            <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                              class="btn btn-primary btn-link btn-sm btn-just-icon">
                              <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                              class="btn btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </ng-container>

                    </ng-container>
                  </tbody>

                </table>
              </div>

            </div>
          </div>
        </div>

    
    </div>

      </div>

      <!-- Addons data table -->
      <div class="col-lg-6 col-md-12">


      </div>
    </div>
  </div>

</div>

