mat-grid-list{
    mat-grid-tile{
        .mat-figure{
        display: block;
        }
    }
}
.mat-elevation-z8 {
  box-shadow: 0 0px 0px 0px;
}

.display_card{
  animation:1s ease-in-out;
  animation-fill-mode: forwards;
}